.main {
  margin-left: 210px;
  padding: 2rem;
  padding-top: 3rem;
}

.container.text img {
  max-width: 100%;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
