.frontpage-wrapper {
  overflow-x: hidden;
}

.frontpage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  margin: 0 -16px;
  background-color: #DADCE0;

  .fp-cell {
    background-color: #fff;
    padding: 1.5rem;
  
    img {
      min-width: 100%;
      margin-bottom: 0.5rem;
    }

    div.sub.header {
      margin-top: 0;
    }

    .img-wrapper {
      height: 10rem;
      overflow-y: hidden;

      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
  
  .fp-cell--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    .img-wrapper {
      height: auto;
      max-height: 20rem;
      object-fit: cover;
    }
  }

  .fp-cell:nth-child(2),
  .fp-cell:nth-child(3) {
    .img-wrapper {
      display: none;
    }

    h3 {
      margin-top: 0.2rem;
    }
  }

  .fp-cell:nth-child(n+7) {
    grid-column: auto / span 3;

    padding-left: 8rem;
    padding-right: 8rem;

    .img-wrapper {
      float: left;
      max-width: 15rem;
      margin-right: 2rem;
    }
  }
}

.fp-item {
  background-color: #efefef;
  display: flex;
  min-height: 200px;
  height: 100%;
}

